* {
    font-family: monospace;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 250px;
    height: 320px;
    margin: 0px;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: relative;
}

.canvas {
    height: 148px;
    width: 148px;
}
.buttons {
    /*display: flex;*/
}

.button {
    padding: 10px 15px;
    border-radius: 4px;
    margin: 3px;
    color: #FFF;
    cursor: pointer;
    width: 100px;
}

.clipboard {
    background: #14cd08;
}

.clipboard-copied {
    background: #3cccff;
}

.twitter {
    background: #1da1f2;;
}

.facebook {
    background: #3b5998;
}

.button:hover {
    opacity: 0.9;
}

.cover {
    background: #0006;
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: #dad4d4;
}

.link {
    height: 30px;
    display: flex;
    align-items: center;
}

.setting {
    display: none;
    padding: 15px;
    font-size: 16px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}


.field {
    margin: 10px 0px;
}

.input-field {
    width: -webkit-fill-available;
}

.setting-buttons {
    justify-content: space-between;
    display: flex;
}
.setting-button {
    color: #000;
    text-align: center;
    width: 75px;
    display: inline-block;
    margin: 0px;
}

.confirm-result {
    font-size: 14px;
    border: solid 1px #aaa;
    padding: 10px;
    background: #eee;
    height: 70px;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content:space-around;
}

.confirm {
background: #ffe071;
}

.save {
    background: #3cfffc;
}

.disable {
background: #ccc;
cursor: default;
}

.disable:hover {
opacity: 1;
}

.warning {
    height: 88px;
    padding: 30px;
}

.hide {
    display: none;
}